<%= form_for @article do |f| %>
 <p>
   <%= f.label :marca %><br>
   <%= f.text_field :title %>
 </p> 

  <p>
   <%= f.label :modelo %><br>
   <%= f.text_area :modelo %>
 </p> 

 <p>
   <%= f.label :procesador %><br>
   <%= f.text_area :procesador %>
 </p> 

  <p>
   <%= f.label :RAM %><br>
   <%= f.text_area :RAM %>
 </p>  

 <p>
   <%= f.label :precio %><br>
   <%= f.text_area :precio %>
 </p> 

  <p>
   <%= f.submit %>
 </p>
<% end %>
<p>
 <%= link_to 'Back', articles_path %>
</p> 