<h3>
 <strong>marca:</strong>
 <%= @article.title %>
</h3>
<p>
 <strong>modelo:</strong>
 <%= @article.modelo %>
</p><p>
 <strong>procesador:</strong>
 <%= @article.procesador %>
</p><p>
 <strong>RAM:</strong>
 <%= @article.RAM %>
</p><p>
 <strong>precio:</strong>
 <%= @article.precio %>
</p><p>
   <%= link_to 'Edit', edit_article_path(@article)%> |
   <%= link_to 'Back', articles_path%>
</p> 